
	<div class="container footer">
		<div class="col-md-4">
			<ul>
				<li><a href="/"><img src="/img/whola-logo-mini.png"></a></li>
				<li><a href="/users">users</a></li>
				<li><a href="/merchants">merchants</a></li>
				<li><a href="/companies">companies</a></li>
				<li><a href="/investors">investors</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li class="title">What we do</li>
				<li>need data?</li>
				<li>services</li>
				<li>blog</li>
				<li>about us</li>
				<li>contact</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li class="title">Connect</li>
				<li>facebook</li>
				<li>instagram</li>
				<li>twitter</li>
			</ul>
		</div>
	</div>
<!-- Cargamos angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<!-- Cargamos el javascript de angular -->
<script src="/js/modules/main.js"></script>
<script src="/js/services/services.js"></script>
<script src="/js/controllers/promotionCtr.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/controllers/clientsCtr.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/controllers/salesCtr.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/charts/ng-google-chart.js"></script>
<script src="/js/angular-datepicker.js"></script>