<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Whola</title>
<!-- Cargamos bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="screen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen">
