<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/img/whola-logo-mini.png"></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav main-menu">
				<% if(headerMenu == 'users') { %>
					<li class="active"><a href="/users">users</a></li>
				<% } else { %>
					<li><a href="/users">users</a></li>
				<% } %>
				
				<% if(headerMenu == 'merchants') { %>
					<li class="active"><a href="/merchants">merchants</a></li>
				<% } else { %>
					<li><a href="/merchants">merchants</a></li>
				<% } %>
				
				<% if(headerMenu == 'companies') { %>
					<li class="active"><a href="/companies">companies</a></li>
				<% } else { %>
					<li><a href="/companies">companies</a></li>
				<% } %>
			</ul>
			<ul class="nav navbar-nav right-menu">
				<li><a href="/services">services</a></li>
				<li><a href="/blog">blog</a></li>
				<li><a href="/us">us</a></li>
				<li><a href="/contact">contact</a></li>
				<% if(!session.passport) { %>
					
					<% if(headerMenu == 'users') { %>
						<li><a href="/users/login">log in</a></li>
					<% } %>
					<% if(headerMenu == 'merchants') { %>
						<li><a href="/merchants/login">log in</a></li>
					<% } %>
					<% if(headerMenu == 'companies') { %>
						<li><a href="/companies/login">log in</a></li>
					<% } %>
					
				<% } else { %>
					<% if(!session.passport.user) { %>
						
						<% if(headerMenu == 'users') { %>
							<li><a href="/users/login">log in</a></li>
						<% } %>
						<% if(headerMenu == 'merchants') { %>
							<li><a href="/merchants/login">log in</a></li>
						<% } %>
						<% if(headerMenu == 'companies') { %>
							<li><a href="/companies/login">log in</a></li>
						<% } %>
						
					<% } else { %>
						
						<% if(headerMenu == 'users') { %>
							<li><a href="/users/account">account</a></li>
							<li><a href="/users/logout">log out</a></li>
						<% } %>
						<% if(headerMenu == 'merchants') { %>
							<li><a href="/merchants/account">account</a></li>
							<li><a href="/merchants/logout">log out</a></li>
						<% } %>
						<% if(headerMenu == 'companies') { %>
							<li><a href="/companies/account">account</a></li>
							<li><a href="/companies/logout">log out</a></li>
						<% } %>
						
				<% }} %>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>