<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body ng-controller="clientsCtr">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<% include ../../partials/users/users-map %>
		<div class="container profile">
			<% include ../../partials/users/users-header %>
			<div class="col-md-1 col-md-offset-2">
				<% include ../../partials/users/users-menu %>
			</div>
			<div class="col-md-6">
				
				<h2>Offers</h2>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
				<div class="offer">
					<div class="offerCont">
						<h3>Coca Cola</h3>
						<h5 class="idOffer"><i class="fa fa-hashtag" aria-hidden="true"></i><span>23867522</span></h5>
						<h5><i class="fa fa-ticket" aria-hidden="true"></i><span>01/05/2017 to 31/05/2017</span></h5>
						<h5><i class="fa fa-home" aria-hidden="true"></i><span>(5 stores)</span></h5>
					</div>
				</div>
			</div>
			<% include ../../partials/users/users-stores %>
		</div>
	</main>
	
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
