<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container logIn">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h1>Register</h1>
					<% if (hasErrors) { %>
					    <div class="alert alert-danger">
			        		<p><%= messages %></p>
					    </div>
					<% } %>
					
					<% if(accountType == 'users') { %>
					<form action="/users/register" method="post">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" id="email" name="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							<input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
						</div>
						<button type="submit">Submit</button>
					</form>
					<% } %>
					
					<% if(accountType == 'merchants') { %>
					<form action="/merchants/register" method="post">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" id="email" name="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							<input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
						</div>
						<button type="submit">Submit</button>
					</form>
					<% } %>
					
					<% if(accountType == 'companies') { %>
					<form action="/companies/register" method="post">
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" id="email" name="email" class="form-control">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							<input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
						</div>
						<button type="submit">Submit</button>
					</form>
					<% } %>
				</div>
			</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
