<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body ng-controller="promotionCtr">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="users-slider">
			<h1>La mejor oferta en tus manos.</h1>
			<h3>Benefíciate de ofertas únicas basadas en tus hábitos de consumo.<br/>Descarga nuestra App y disfruta del nuevo sistema de compra.</h3>
			<ul class="app-icons">
				<li><img src="../../../img/apple-icon.png" alt="Apple Icon"></li>
				<li><img src="../../../img/android-icon.png" alt="Android Icon"></li>
			</ul>
		</div>
		<div class="container users">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<h1><span>Whola</span> Users!</h1>
				<p>Whola permite beneficiarte de las mejores ofertas basadas en tus hábitos de compra a cambio del intercambio de la información de tus compras. Encuentra la mejor oferta cerca de ti e intercambia ofertas, promociones y descuentos con tus amigos.</p>
				<h2>Simplemente, mejor</h2>
				<p>Nuestra tecnología nos permite seleccionar productos y servicios basados en tus hábitos de consumo y ofrecértelos en tus tiendas favoritas.
Lo que quieres, más cerca y más barato
Y si en ese momento no te interesan... ¡Mándasela a alguno de tus amigos!
</p>			
				<h2>Un pequeño gesto lleno de beneficios</h2>
				<p>Acumula puntos cada vez que registras una compra con nuestro sistema, canjeables por productos y servicios de tu interés.
También acumularás puntos cada vez que alguno de tus amigos use una de las ofertas o promociones que le envíaste.
¡Todo son ventajas!</p>

				<h2>Tu privacidad, nuestro compromiso</h2>
				<p>No nos interesa saber como te llamas, tu nombre es un número en nuestra base de datos. Tampoco tu dirección, tu email o tu número de teléfono. No vamos a llamarte ni a enviarte spam para que te suscribas a nuestro newsletter.
Estamos más interesados en saber cuántos años tienes, si eres hombre o mujer, tus ingresos anuales, tu código postal, que productos consumes de forma habitual y dónde.
Esta información permitirá a las empresas y comerciantes seleccionar las mejores ofertas y promociones de los productos que más encajan contigo.</p>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
