<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<% include ../../partials/companies/companie-header %>
		<div class="container profile">
			<div class="col-md-6 col-md-offset-3">
				<h1>Welcome to <%= companyInfo.name %></h1>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
