<div>
	<ul class="promo-menu">
		<li class="active"><a href="/combo">Combo</a></li>
		<li><a href="/offer">Oferta</a></li>
		<li><a href="/discount">Descuento</a></li>
	</ul>
	<ul class="promo-options">
		<li>Cargar promoción <i class="fa fa-download" aria-hidden="true"></i></li>
	</ul>
</div>