<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body ng-controller="promotionCtr">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container merchants">
			<% include ../../partials/merchants/merchant-menu %>
			<div class="col-md-10">
				<h1 class="firstTitle">Research</h1>
				<p>Make a research to find the bests products to promote.</p>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
