<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body ng-controller="promotionCtr">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="merchants-slider">
			<h1>Descubre el poder de<br/>la información.</h1>
			<h3>Genera beneficios mediante el análisis de la información de tus ventas, contacta con nuevos clientes potenciales y máximiza la rentabilidad de tu negocio.</h3>
			<ul class="merchants-info-form">
				<li><input type="text"></li>
				<li><div class="info">Infórmate</div></li>
			</ul>
		</div>
		<div class="container users">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<h1 class="firstTitle"><span>Whola</span> Merchants</h1>
				<p>Todos oímos hablar de la importancia de la información y de los enormes beneficios que pueden tener para tu negocio. Pero pocos saben como sacar partido de ella. Nuestra tecnología te permite maximizar la rentabilidad de tu negocio, contactar con nuevos clientes potenciales, generar campañas de publicidad altamente efectivas y muchas otras cosas más.</p>
				<p>Mediante el análisis de la información de tus clientes y los de la competencia, podrás conocer en detalle el perfil de tus consumidores para poder ofrecerles el producto adeacuado en el momento adecuado.</p>
				<h2 class="firstTitle">¿ Qué podemos hacer por ti ?</h2>
				<h2 class="firstTitle">Descubre como funciona</h2>
				
				<h2 class="firstTitle">Simplemente, mejor</h2>
				<p>Nuestra tecnología nos permite seleccionar productos y servicios basados en tus hábitos de consumo y ofrecértelos en tus tiendas favoritas.
Lo que quieres, más cerca y más barato
Y si en ese momento no te interesan... ¡Mándasela a alguno de tus amigos!
</p>			
				<h2 class="firstTitle">Un pequeño gesto lleno de beneficios</h2>
				<p>Acumula puntos cada vez que registras una compra con nuestro sistema, canjeables por productos y servicios de tu interés.
También acumularás puntos cada vez que alguno de tus amigos use una de las ofertas o promociones que le envíaste.
¡Todo son ventajas!</p>

				<h2 class="firstTitle">Tu privacidad, nuestro compromiso</h2>
				<p>No nos interesa saber como te llamas, tu nombre es un número en nuestra base de datos. Tampoco tu dirección, tu email o tu número de teléfono. No vamos a llamarte ni a enviarte spam para que te suscribas a nuestro newsletter.
Estamos más interesados en saber cuántos años tienes, si eres hombre o mujer, tus ingresos anuales, tu código postal, que productos consumes de forma habitual y dónde.
Esta información permitirá a las empresas y comerciantes seleccionar las mejores ofertas y promociones de los productos que más encajan contigo.</p>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
