<html ng-app="Whola">
<head>
	<% include ../../partials/head %>
</head>
<body ng-controller="promotionCtr">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container merchants">
			<% include ../../partials/merchants/merchant-menu %>
			<div class="col-md-10">
				<h1 class="firstTitle">Campaign</h1>
				<div class="row">
					<div class="col-md-3">
						<h2><a href="/merchants/merchant-combo">Combo</a></h2>
						<p>Este tipo de campaña te permite ofrecer dos productos a precio único.</p>
					</div>
					<div class="col-md-3">
						<h2>Oferta</h2>
						<p>Este tipo de campaña te permite ofrecer dos productos a precio único.</p>
					</div>
					<div class="col-md-3">
						<h2>Descuento</h2>
						<p>Este tipo de campaña te permite ofrecer dos productos a precio único.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>
