<html ng-app="Whola">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<div class="container profile">
			<div class="col-md-8 col-md-offset-2">
				<h1 style="margin:90px 0px 0px 0px; text-align:center">Sorry, but this page was not found</h1>
			</div>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>
