<div class="col-md-2">
	
	<h2>Favorite Stores</h2>
	<div class="store">
		<h3>Alimentación Wang <span class="experience"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h3>
		<h5><i class="fa fa-tag" aria-hidden="true"></i><span>Grocery</span></h5>
		<h5><i class="fa fa-clock-o" aria-hidden="true"></i><span>8:00AM - 23:00PM</span></h5>
		<h5><i class="fa fa-map-marker" aria-hidden="true"></i><span>Cidamón, 10, 28043, Madrid</span></h5>
	</div>
	<div class="store">
		<h3>Alimentación Wang <span class="experience"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h3>
		<h5><i class="fa fa-tag" aria-hidden="true"></i><span>Grocery</span></h5>
		<h5><i class="fa fa-clock-o" aria-hidden="true"></i><span>8:00AM - 23:00PM</span></h5>
		<h5><i class="fa fa-map-marker" aria-hidden="true"></i><span>Cidamón, 10, 28043, Madrid</span></h5>
	</div>
	<div class="store">
		<h3>Alimentación Wang <span class="experience"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span></h3>
		<h5><i class="fa fa-tag" aria-hidden="true"></i><span>Grocery</span></h5>
		<h5><i class="fa fa-clock-o" aria-hidden="true"></i><span>8:00AM - 23:00PM</span></h5>
		<h5><i class="fa fa-map-marker" aria-hidden="true"></i><span>Cidamón, 10, 28043, Madrid</span></h5>
	</div>
</div>